@model WebApplication.Models.NganhDaoTao

@{
    ViewBag.Title = "CreateNganh";
    Layout = "~/Views/Shared/Faculty_Layout.cshtml";
}

<h2 style="font-family: Roboto">Thêm mới Ngành học</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Tên ngành", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nganh, new { htmlAttributes = new { @class = "form-control", @required = true, @minLength = "1", @maxLength = "100"} })
                @Html.ValidationMessageFor(model => model.Nganh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tạo mới" class="btn btn-secondary btn-rounded" />
                <input type="submit" value="Trở về" class="btn btn-secondary btn-rounded" formaction=@Url.Action("ListNganhDT", "ChuongTrinhDaoTao") />
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
