@model IEnumerable<WebApplication.Models.KhoaDaoTao>

@{
    ViewBag.Title = "KhoaSinhVien";
    Layout = "~/Views/Shared/Faculty_Layout.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="page-title" style="font-family:Roboto">DANH SÁCH SINH VIÊN</h4>
            <div class="page-title-right">
                <form>
                    <button type="button" id="button" name="button" value="Upload" class="btn btn-secondary btn-rounded" data-toggle="modal" data-target="#modelId1"><i class="fas fa-search"></i> Tìm kiếm</button>
                    <input type="file" id="file" style="display:none;" />
                    <button type="button" id="button" name="button" value="Upload" class="btn btn-secondary btn-rounded" data-toggle="modal" data-target="#exampleModal">
                        <i class="mdi mdi-microsoft-excel"></i> Import
                    </button>
                    <button type="submit" formaction="@Url.Action("XuatDSSV")" id="button" name="button" value="" class="btn btn-secondary btn-rounded"><i class="mdi mdi-microsoft-excel"></i> Export</button>
                </form>
            </div>

        </div>
    </div>
</div>
<script>
    function XacNhanXoa(val) {
        document.getElementById("textKhoa").innerHTML = val;
    }
</script>
<!-- end page title -->
<div class="row">
    <div class="col-xl-6">
        <div class="card-box taskboard-box">
            <ul class="sortable-list list-unstyled taskList" id="upcoming">
                @foreach (var item in Model)
                {
                    <li>
                        <div class="kanban-box">
                            <div class="kanban-detail">
                                <form>
                                    <a value="@item.Khoa" type="button" class="badge badge-danger float-right" href="#modelId" style="color: white;" data-toggle="modal" data-target="#modelId" onclick="XacNhanXoa(@item.Khoa)"><i class="fas fa-times"></i></a>
                                    <h4 class="mt-0"><a href="@Url.Action("NganhSinhVien", new { id = item.ID })" class="text-dark">Danh sách sinh viên Khóa @item.Khoa</a></h4>
                                </form>
                            </div>
                        </div>
                    </li>
                }
            </ul>
            <!-- Modal -->
            <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" style="font-family: Roboto;">Xóa danh sách sinh viên</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid text-center">
                                Xác nhận xóa Danh sách sinh viên
                            </div>
                            <div for="recipient-name" class="col-form-label">Nhập "Danh sách sinh viên Khóa - <span id="textKhoa"></span>" để xác nhận xóa:</div>
                            <input type="text" class="form-control" id="textXacNhan" onchange="GetText(this.value)" placeholder="Danh sách sinh viên Khóa - 24">
                            <input id="textXacNhan" value="Danh sách sinh viên Khóa - 24" hidden/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <button type="button" id="XacNhanBtn" class="btn btn-primary" disabled>Xóa</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="modelId1" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" style="font-family: Roboto;">Tìm kiếm sinh viên</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search...">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="submit">
                                    <i class="fe-search"></i>
                                </button>
                            </div>
                            <div class="table-responsive text-nowrap">
                                <table class="table table-striped mb-0 dt-responsive" id="table" id="datatable">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>MSSV</th>
                                            <th>Họ</th>
                                            <th>Tên</th>
                                            <th>Ngày sinh</th>
                                            <th>Giới tính</th>
                                            <th>Tình trạng</th>
                                            <th>Khóa học</th>
                                            <th>Mã lớp SV</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>187PM20547</td>
                                            <td>Nguyễn Duy</td>
                                            <td>Phương</td>
                                            <td>25/05/1999</td>
                                            <td>Nam</td>
                                            <td>Còn học</td>
                                            <td>K24</td>
                                            <td>K24T-PM1</td>
                                            <td><a href="#">Xem thêm</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <!-- <button type="button" class="btn btn-primary">Save</button> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel" style="font-family: Roboto;">Thêm mới chương trình đào tạo</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            @using (Html.BeginForm("UploadSinhVien", "DanhSachSinhVien", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="file-upload-wrapper">
                                    <div class="file-upload-wrapper">
                                        <input type="file" id="file_excel" name="UploadedFile" class="dropify" required accept=".xls,.xlsx" onclick="Clearform()" />
                                    </div>
                                    <div id="excel_data" class="table-responsive"></div>
                                </div>
                                <div class="modal-footer">
                                    <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Đóng" />
                                    <input type="submit" class="btn btn-secondary" value="Xem trước" formmethod="post" formaction="@Url.Action("XemTruocThongKe", "DanhSachSinhVien", new { enctype = "multipart/form-data" })" />
                                    <input type="submit" class="btn btn-primary" value="Tải lên" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col -->
</div>
@*@if (TempData["test"] != null)
    {
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {
                $('#exampleModal').modal('show');
            });
        </script>
    }
    <script>
        $('#exampleModal').on('show.bs.modal', event => {
            var button = $(event.relatedTarget);
            var modal = $(this);
            // Use above variables to manipulate the DOM

        });
    </script>*@
<script>
    //function thisFileUpload() {
    //    document.getElementById("file").click();
    //};
    function GetText(val) {
        var text = document.getElementById("textXacNhan").value;
        if (val == text) {
            document.getElementById("XacNhanBtn").disabled = false;
        } else {
            document.getElementById("XacNhanBtn").disabled = true;
        }
    }
</script>
<script>
    const excel_file = document.getElementById('file_excel');
    excel_file.addEventListener('change', (event) => {
        if (!['application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'application/vnd.ms-excel'].includes(event.target.files[0].type)) {
            document.getElementById('excel_data').innerHTML = '<div class="form-group">Only .xlsx or .xls file format are allowed</div>';
            return false;
        }
        var reader = new FileReader();
        reader.readAsArrayBuffer(event.target.files[0]);
        reader.onload = function (event) {
            var data = new Uint8Array(reader.result);
            var work_book = XLSX.read(data, { type: 'array' });
            var sheet_name = work_book.SheetNames;
            var sheet_data = XLSX.utils.sheet_to_json(work_book.Sheets[sheet_name[0]], { header: 1 });
            var soluong = sheet_data.length - 1;
            if (sheet_data.length > 0) {
                var table_output = '<div class="row"><div class="col-xl-6"><table class="table table-hover mb-0">';
                table_output += '<tr>';
                table_output += '<td>Số lượng sinh viên: ' + soluong + '</td>';
                table_output += '</tr>';
                var nganh = new Array();
                var slnganh = new Array();
                var khoa = new Array();
                var slkhoa = new Array();
                var lop = new Array();
                var sllop = new Array();
                for (var i = 1; i < sheet_data.length; i++) {
                    if (i == 1) {
                        nganh[0] = sheet_data[1][10];
                        slnganh[0] = 1;
                        khoa[0] = sheet_data[1][6];
                        slkhoa[0] = 1;
                    }
                    else {
                        var dknganh = 0;
                        var dkkhoa = 0;
                        var dklop = 0;
                        for (var item = 0; item < nganh.length; item++) {
                            if (sheet_data[i][10] == nganh[item]) {
                                slnganh[item]++;
                                dknganh++;
                            }
                        }
                        if (dknganh == 0) {
                            nganh[nganh.length] = sheet_data[i][10];
                            slnganh[slnganh.length] = 1;
                        }
                        for (var item = 0; item < khoa.length; item++) {
                            if (sheet_data[i][6] == khoa[item]) {
                                slkhoa[item]++;
                                dkkhoa++;
                            }
                        }
                        if (dkkhoa == 0) {
                            khoa[khoa.length] = sheet_data[i][6];
                            slkhoa[slkhoa.length] = 1;
                        }
                        for (var item = 0; item < lop.length; item++) {
                            if (sheet_data[i][7] == lop[item]) {
                                sllop[item]++;
                                dklop++;
                            }
                        }
                        if (dklop == 0) {
                            lop[lop.length] = sheet_data[i][7];
                            sllop[sllop.length] = 1;
                        }
                    }
                }
                for (var i = 0; i < khoa.length; i++) {
                    table_output += '<tr>';
                    table_output += '<td> Khóa: ' + khoa[i] + " có số lượng sinh viên là: " + slkhoa[i] + '</td>';
                    table_output += '</tr>';
                }
                for (var i = 0; i < nganh.length; i++) {
                    table_output += '<tr>';
                    table_output += '<td> Mã ngành: ' + nganh[i] + " có số lượng sinh viên là: " + slnganh[i] + '</td>';
                    table_output += '</tr>';
                }
                table_output += '</table></div>';
                table_output += '<div class="col-xl-6"><table class="table table-hover mb-0">';
                table_output += '<tr><td> Số lượng lớp: ' + lop.length + '</td></tr>';
                for (var i = 0; i < lop.length; i++) {
                    table_output += '<tr>';
                    table_output += '<td> Lớp: ' + lop[i] + " có số lượng sinh viên là: " + sllop[i] + '</td>';
                    table_output += '</tr>';
                }
                table_output += '</table></div></div>';
                document.getElementById('excel_data').innerHTML = table_output;
            }
        }
    });
</script>