@model IEnumerable<WebApplication.Models.SinhVien>

@{
    ViewBag.Title = "ListSinhVien";
    Layout = "~/Views/Shared/Faculty_Layout.cshtml";
    int STT = 0;
}
<link href="@Url.Content("~/Faculty_assets/css/search.css")" rel="stylesheet" type="text/css" />
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-sinhviens-center justify-content-between">
            <h4 class="page-title" style="font-family:Roboto">DANH SÁCH SINH VIÊN LỚP @Model.First().LopQuanLy.TenLop - NGÀNH @Model.First().LopQuanLy.NganhDaoTao.Nganh.ToUpper() KHÓA @Model.First().LopQuanLy.KhoaDaoTao.Khoa</h4>
            <div class="page-title-right">
                <div class="container">
                    <input type="text" id="search" placeholder="Search..." style="color: black;">
                    <div class="search"></div>
                </div>
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-sinhvien"><a href="select-class.html"></a></li>
                </ol>
            </div>

        </div>
    </div>
</div>

<!-- end page title -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive text-nowrap">
                    <table class="table table-striped mb-0 dt-responsive" id="table">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>MSSV</th>
                                <th>Họ</th>
                                <th>Tên</th>
                                <th>Ngày sinh</th>
                                <th>Giới tính</th>
                                <th>Tình trạng</th>
                                <th>Email</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody id="table">
                            @foreach (var s in Model)
                            {
                                STT++;
                                <tr data-toggle="modal" data-target="#modelId">
                                    <td>@STT</td>
                                    <td>@s.MSSV</td>
                                    <td>@s.Ho</td>
                                    <td>@s.Ten</td>
                                    <td>@s.NgaySinh</td>
                                    <td>@s.GioiTinh</td>
                                    <td>@s.TinhTrang.TenTinhTrang</td>
                                    <td>@s.Email_1</td>
                                    <td><a href="@Url.Action("XemChiTiet", new { id = s.ID })">Chi tiết</a></td>
                                </tr>
                            }
                            <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                                @{ var sinhvien = Session["sinhvien"] as WebApplication.Models.SinhVien; }
                                @if (sinhvien != null)
                                {
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" style="font-family: Roboto;"> sinh viên @sinhvien.Ho @sinhvien.Ten</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            <div class="modal-body">
                                                <div class="container-fluid text-center">
                                                    Thông tin sinh viên @sinhvien.Ho @sinhvien.Ten
                                                </div>
                                                <br />
                                                <div class="container-fluid text-lg-left">
                                                    Mã số sinh viên: @sinhvien.MSSV
                                                </div>
                                                <br />
                                                <div class="container-fluid text-lg-left">
                                                    Họ sinh viên: @sinhvien.Ho
                                                </div>
                                                <br />
                                                <div class="container-fluid text-lg-left">
                                                    Tên sinh viên: @sinhvien.Ten
                                                </div>
                                                <br />
                                                <div class="container-fluid text-lg-left">
                                                    Ngày sinh: @sinhvien.NgaySinh
                                                </div>
                                                <br />
                                                <div class="container-fluid text-lg-left">
                                                    Giới Tính: @sinhvien.GioiTinh
                                                </div>
                                                <br />
                                                <div class="container-fluid text-lg-left">
                                                    Tình trạng: @Session["tinhtrang"]
                                                </div>
                                                <br />
                                                <div class="container-fluid text-lg-left">
                                                    Email 1: @sinhvien.Email_1
                                                </div>
                                                <br />
                                                <div class="container-fluid text-lg-left">
                                                    Email 2: @sinhvien.Email_2
                                                </div>
                                                <br />
                                                <div class="container-fluid text-lg-left">
                                                    SDT: @sinhvien.DTDD
                                                </div>
                                                <br />
                                                <div class="container-fluid text-lg-left">
                                                    SDT Cha: @sinhvien.DTCha
                                                </div>
                                                <br />
                                                <div class="container-fluid text-lg-left">
                                                    SDT Mẹ: @sinhvien.DTMe
                                                </div>
                                                <br />
                                                <div class="container-fluid text-lg-left">
                                                    Địa Chỉ: @sinhvien.DiaChi
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </tbody>
                    </table>
                </div> <!-- end .table-responsive-->
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div> <!-- end row -->
<script>
    $('#exampleModal').on('show.bs.modal', event => {
        var button = $(event.relatedTarget);
        var modal = $(this);

    });
</script>
@if (Session["sinhvien"] != null)
{
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('#modelId').modal('show');
        });
    </script>
    Session["sinhvien"] = null;
}
<script>
    var $rows = $('#table tr');
    $('#search').keyup(function () {
        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
        $rows.show().filter(function () {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            return !~text.indexOf(val);
        }).hide();
    });
</script>
