@model IEnumerable<WebApplication.Models.LopQuanLy>

@{
    ViewBag.Title = "ListLop";
    Layout = "~/Views/Shared/Faculty_Layout.cshtml";
    int STT = 0;
}
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="page-title" style="font-family:Roboto">DANH SÁCH LỚP</h4>
            <div class="page-title-right">
                <!-- <div class="container">
                    <input type="text" id="search" placeholder="Search..." style="color: black;">
                    <div class="search"></div>
                </div> -->
                <button type="submit" id="button" formaction="@Url.Action("TaoMoiLop")" class="btn btn-secondary btn-rounded">
                    Tạo mới
                </button>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive text-nowrap">
                    <table class="table table-striped mb-0 dt-responsive" id="table">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên lớp</th>
                                <th>Chủ nhiệm lớp</th>
                                <th>Khóa</th>
                                <th>Ngành</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                STT++;
                                <tr>
                                    <td>@STT</td>
                                    <td>@item.TenLop</td>
                                    <td>
                                        <form id="editable-form" class="editable-form">
                                            <div class="form-group row">
                                                <div class="col-6 col-lg-8 d-flex align-items-center"> 
                                                    <a href="#" id="sex" data-type="select" data-pk="1" data-value="" data-  data-title="Chọn giảng viên" class="editable editable-click" data-abc="true">Chưa chọn giảng viên</a> 
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                    <td><span>K</span>@item.KhoaDaoTao.Khoa</td>
                                    <td>@item.NganhDaoTao.Nganh</td>
                                    <td>
                                        <a href="@Url.Action("SuaLop", new { id = item.ID })">Sửa</a> |
                                        <a href="@Url.Action("XoaLop", new { id = item.ID })">Xóa</a> |
                                        <a href="@Url.Action("Details", new { id = item.ID })">Chi tiết</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div> <!-- end .table-responsive-->
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div> <!-- end row -->

<script>
    (function ($) {
        'use strict';
        $(function () {
            if ($('#editable-form').length) {
                $.fn.editable.defaults.mode = 'inline';
                $.fn.editableform.buttons =
                    '<button type="submit" class="btn btn-primary btn-sm editable-submit">' +
                    '<i class="fa fa-fw fa-check"></i>' +
                    '</button>' +
                    '<button type="button" class="btn btn-danger btn-sm editable-cancel">' +
                    '<i class="fa fa-fw fa-times"></i>' +
                    '</button>';

                $('#sex').editable({
                    source: [{
                        value: 1,
                        text: 'Male'
                    },
                    {
                        value: 2,
                        text: 'Female'
                    }
                    ]
                });
                $('#user .editable').on('hidden', function (e, reason) {
                    if (reason === 'save' || reason === 'nochange') {
                        var $next = $(this).closest('tr').next().find('.editable');
                        if ($('#autoopen').is(':checked')) {
                            setTimeout(function () {
                                $next.editable('show');
                            }, 300);
                        } else {
                            $next.focus();
                        }
                    }
                });
            }
        });
    })(jQuery);
</script>