@model IEnumerable<WebApplication.Models.LopQuanLy>

@{
    ViewBag.Title = "LopSinhVien";
    Layout = "~/Views/Shared/Faculty_Layout.cshtml";
    var nganh = ViewData["NganhDaoTao"] as WebApplication.Models.NganhDaoTao;
    var khoa = ViewData["KhoaDaoTao"] as WebApplication.Models.KhoaDaoTao;
}
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="page-title" style="font-family:Roboto">DANH SÁCH SINH VIÊN NGÀNH @Model.First().NganhDaoTao.Nganh.ToUpper() - KHÓA @Model.First().KhoaDaoTao.Khoa</h4>
            <div class="page-title-right">
                <!-- <div class="container">
                    <input type="text" id="search" placeholder="Search..." style="color: black;">
                    <div class="search"></div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-xl-6">
        <div class="card-box taskboard-box">
            @foreach (var item in Model)
            {
                <ul class="sortable-list list-unstyled taskList" id="upcoming">
                    <li>
                        <div class="kanban-box">
                            <div class="kanban-detail">
                                <a class="badge badge-danger float-right" href="#" style="color: white;" data-toggle="modal" data-target="#modelId"><i class="fas fa-times"></i></a>
                                <h4 class="mt-0" style="font-family: Roboto;"><a href="@Url.Action("ListSinhVien", new { id = item.ID })" style="color: black;">Danh sách sinh viên lớp @item.TenLop </a></h4>

                            </div>
                        </div>
                    </li>
                </ul>
            }
            <!-- Modal -->
            <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" style="font-family: Roboto;">Xóa danh sách sinh viên</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid text-center">
                                Xác nhận xóa Danh sách sinh viên lớp 
                            </div>
                            <label for="recipient-name" class="col-form-label">Nhập "Danh sách sinh viên lớp " để xác nhận xóa:</label>
                            <input type="text" class="form-control" id="textXacNhan" onchange="GetText(this.value)" placeholder="Danh sách sinh viên lớp @lop.TenLop">
                            <input id="textXacNhan" value="Danh sách sinh viên lớp " hidden />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <button type="button" id="XacNhanBtn" class="btn btn-primary" disabled>Xóa</button>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                $('#exampleModal').on('show.bs.modal', event => {
                    var button = $(event.relatedTarget);
                    var modal = $(this);
                    // Use above variables to manipulate the DOM

                });
                function GetText(val) {
                    var text = document.getElementById("textXacNhan").value;
                    if (val == text) {
                        document.getElementById("XacNhanBtn").disabled = false;
                    } else {
                        document.getElementById("XacNhanBtn").disabled = true;
                    }
                }
            </script>
        </div>
    </div><!-- end col -->
</div>
