@model IEnumerable<WebApplication.Models.NganhDaoTao>

@{
    ViewBag.Title = "NganhSinhVien";
    Layout = "~/Views/Shared/Faculty_Layout.cshtml";
    var khoa = ViewData["KhoaDaoTao"] as WebApplication.Models.KhoaDaoTao;
}


<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="page-title" style="font-family:Roboto">DANH SÁCH SINH VIÊN KHÓA @khoa.Khoa</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-xl-6">
        <div class="card-box taskboard-box">
            @foreach (var item in Model)
            {
                <ul class="sortable-list list-unstyled taskList" id="upcoming">
                    <li>
                        <div class="kanban-box">
                            <div class="kanban-detail">
                                <a class="badge badge-danger float-right" href="#" style="color: white;" data-toggle="modal" data-target="#modelId"><i class="fas fa-times"></i></a>
                                <h4 class="mt-0" style="font-family: Roboto;"><a href="@Url.Action("LopSinhVien", new { idnganh = item.ID, idkhoa = khoa.ID })" style="color: black;">Danh sách sinh viên Ngành @item.Nganh </a></h4>
                            </div>
                        </div>
                    </li>
                </ul>
            }
            <!-- Modal -->
            @foreach (var item in Model)
            {
                <div class="modal fade" data-id="@item.ID" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" style="font-family: Roboto;">Xóa danh sách sinh viên</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid text-center">
                                    Xác nhận xóa danh sách sinh viên Ngành @item.Nganh - Khóa @khoa.Khoa
                                </div>
                                <label for="recipient-name" class="col-form-label">Nhập "@item.Nganh - Khóa @khoa.Khoa" để xác nhận xóa:</label>
                                <input type="text" class="form-control" id="textXacNhan" onchange="GetText(this.value)" placeholder="@item.Nganh - Khóa @khoa.Khoa">
                                <input id="textXacNhan" value="@item.Nganh - Khóa @khoa.Khoa" hidden />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                <button type="button" id="XacNhanBtn" class="btn btn-primary" disabled>Xóa</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
                <script>
                    $('#exampleModal').on('show.bs.modal', event => {
                        var button = $(event.relatedTarget);
                        var modal = $(this);
                        // Use above variables to manipulate the DOM

                    });

                    function GetText(val) {
                        var text = document.getElementById("textXacNhan").value;
                        if (val == text) {
                            document.getElementById("XacNhanBtn").disabled = false;
                        } else {
                            document.getElementById("XacNhanBtn").disabled = true;
                        }
                    }
                </script>
            </div>
    </div><!-- end col -->

</div>
